<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultiLanguageApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8033A6792A55A8C700B4AFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8033A68F2A55A8C800B4AFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8033A6992A55A8C800B4AFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
